h1{
font-size:20px;

text-align:center;

}
h2{
font-size:20px;

text-align:center;	
}

body{
	background-image: url(https://img2.freepng.fr/20190617/jgu/kisspng-fab-beat-beat-compilation-one-remastered-leave-cityscape-sticker-by-raytwin-5d07d9be744482.5416456615607955824762.jpg);
	background-attachment: fixed;

	
}